<h2>
    {{title}}
</h2>
<form>
    <div class="mb-3">
        <label for="" class="form-label">Ho ten</label>
        <input disabled ng-model="nhanvien.ho_ten" type="text" name="" id="" class="form-control" placeholder=""
            aria-describedby="helpId" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">sdt</label>
        <input disabled ng-model="nhanvien.sdt" type="text" name="" id="" class="form-control" placeholder=""
            aria-describedby="helpId" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">email</label>
        <input disabled ng-model="nhanvien.email" type="text" name="" id="" class="form-control" placeholder=""
            aria-describedby="helpId" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">chuc_vu</label>
        <select disabled ng-model="nhanvien.chuc_vu" class="form-select" aria-label="Default select example">
            <option disabled>Chọn Chức vụ</option>
            <option value="Trưởng phòng">Trưởng phòng</option>
            <option value="Nhân viên">Nhân viên</option>
            <option value="Giám đốc">Giám đốc</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">ngay_sinh</label>
        <input disabled ng-model="nhanvien.ngay_sinh" type="date" name="" id="" class="form-control" placeholder=""
            aria-describedby="helpId" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Quay lại</button>
    </div>
</form>