<h1>Sửa Sinh Viên</h1>
<form>
    <div class="mb-3 row col-9">
        <label for="inputName" class="col-4 col-form-label">Họ Tên</label>
        <div class="col-8">
            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name" />
        </div>
    </div>
    <div class="mb-3 row col-9">
        <label for="inputName" class="col-4 col-form-label">Mã Sinh viên</label>
        <div class="col-8">
            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name" />
        </div>
    </div>
    <div class="mb-3 row col-9">
        <label for="inputName" class="col-4 col-form-label">Quê Quán</label>
        <div class="col-8">
            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name" />
        </div>
    </div>
    <div class="mb-3 row col-9">
        <select class="form-select col-8" aria-label="Default select example">
            <option selected>Chọn Giới Tính</option>
            <option value="1">Nam</option>
            <option value="2">Nữ</option>
        </select>
    </div>
</form>
<div class="mb-3 row">
    <div class="offset-sm-4 col-sm-8">
        <a href="#/!"><button type="button" class="btn btn-warning">Quay Lại</button></a>
        <button type="submit" class="btn btn-primary">
            Thêm
        </button>
    </div>
</div>