<h3>
    {{title}}
</h3>
<form>
    <div class="mb-3">
        <label for="" class="form-label">Ten oto</label>
        <input disabled ng-model="oto.ten" type="text" name="" id="" class="form-control" placeholder=""
            aria-describedby="helpId" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Chon Hang</label>
        <select disabled ng-model="oto.hang" class="form-select" aria-label="Default select example">
            <option disabled>Chon Hang</option>
            <option value="Toyota ">Toyota</option>
            <option value="Kia">Kia</option>
            <option value="Hyudai">Hyudai</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Gia</label>
        <input disabled ng-model="oto.gia" type="text" name="" id="" class="form-control" placeholder=""
            aria-describedby="helpId" />
    </div>
    <div class="mb-3">
        <a href="#!list-cars"><button type="" class="btn btn-primary">Quay lai</button></a>
    </div>
</form>